.container {
    max-width: 20%;
    width: 100%;
    margin: auto;

    ion-card {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 800px) {
    .container {
        max-width: 100%;
    }
}
